html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-weight: normal; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/** Outils **/

.image { background-color: #eeeeee; }

.clear { height: 0; font-size: 0; visibility: hidden; clear: both; }

/** **/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 61%;
  background-color: #eeeeee;
  background-image: url(../images/main_back.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.body_container { width: 960px; margin: 0 auto; background-color: #ffffff; }


.header .top_bar {
  height: 23px;
  background-image: url(../images/header_top_bar.png);
}

.header .bottom_bar {
  height: 39px;
  background-image: url(../images/header_bottom_bar.png);
}

.header .logo {
  width: 387px;
  height: 156px;
  float: left;
  background-image: url(../images/header_logo.jpg);
}

.header .logo a {
  width: 387px;
  height: 156px;
  display: block;
}

.header .logo span {
  display: none;
}

.header .character {
  width: 244px;
  height: 156px;
  float: left;
  background-image: url(../images/header_character.jpg);
}

.header .search {
  width: 329px;
  height: 156px;
  float: left;
  background-image: url(../images/header_back.jpg);
}

.nav .left {
  width: 208px;
  height: 26px;
  float: left;
  background-image: url(../images/menu_left.jpg);
}

.nav ul {
  width: 752px;
  height: 26px;
  float: left;
  background-image: url(../images/menu_back.jpg);
}

.nav li {
  float: left;
  padding: 6px 12px 0 0;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px #000000;
  font-family: Georgia, serif;
  font-size: 1.3em;
  font-weight: bold;
  display: block;
}

.nav a:hover {
  color: #ffcc00;
}

/** Mise en forme du thème **/

h1 { font-size: 2em; font-weight: bold; margin-bottom: 0.4em; }
h2 { font-size: 1.6em; font-weight: bold; border-bottom: 0.1em solid #888888; margin-bottom: 1em; }
h3 { font-size: 1.5em; margin-bottom: 0.5em; }
p { font-size: 1.2em; line-height: 1.4em; }

.forme strong { font-weight: bold; }
.forme em { font-style: italic; }

.main_content { margin-bottom: 1em; }
.footer { background: #eeeeee; padding: 8px; }

/** Styles de l'accueil **/

.edito { margin-bottom: 1em; }

.promo { margin-bottom: 2.5em; }
.promo .projet { width: 312px; float: left; padding-left: 12px; }
.promo .projet:first-child { padding-left: 0; }

/** Boites de gabarits génériques **/

.bloc_gauche_1_2 { float: left; width: 474px; }
.bloc_gauche_1_3 { float: left; width: 312px; }
.bloc_gauche_2_3 { float: left; width: 636px; }
.bloc_droite_1_2 { float: right; width: 474px; }
.bloc_droite_1_3 { float: right; width: 312px; }
.bloc_droite_2_3 { float: right; width: 636px; }
